/* Start section people */

.people{
    padding-bottom: 184px;
}

.people_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_people{
    width: 494px;
}

.title_people{
    margin-bottom: 16px;
}

.text_people{
    line-height: 1.67;
    color: #626780;
    padding-right: 44px;
}

.images_wrapper_people{
    width: 579px;
    height: 388px;
    position: relative;
}

.border1{
    position: absolute;
    margin-top: 41px;
    margin-left: 55px;
}

.border2{
    position: absolute;
    margin-top: 12px;
    margin-left: 229px;
}

.border3{
    position: absolute;
    margin-top: 178px;
    margin-left: 398px;
}

.images_people{
    border-radius: 100%;
    position: absolute;
}

.black{
    margin-top: 0;
    margin-left: 206px;
}

.red{
    margin-top: 25px;
    margin-left: 482px;
}  

.green{
    margin-left: 0;
    margin-top: 207px;
}

.blue{
    margin-top: 110px;
    margin-left: 136px;
}

.white{
    margin-top: 291px;
    margin-left: 455px;
}

.multicolored{
    margin-top: 277px;
    margin-left: 239px;
}

.around_the_clock{
    position: absolute;
    margin-top: 124px;
    margin-left: 350px;
}

/* End section people */